/* style.css */
/* Author: Will Inglis, Grace Kim, Esther Kim */
/* Date Created: April 1st, 2023 */
html, body {
    background: #222222;
    font-family: Garamond, serif;
    height: 100%;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
}

main{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
}
section{
    padding-bottom: 20px;
}
h1{
    color: #9c9c9c;
    font-weight: 900;
}
h2{
    color: #d3d3d3;
    font-size: 1.3em;
}
p {
    color: #ffffff;
    line-height: 1.5;
}
footer {
    background-color: #000000;
    position: absolute;
    text-align: center;
    width: 100%;
}
#footer {
    color: rbg (3, 255, 246);
    font-size: 0.8em;
}

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .responsive{
    max-width: 100%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header{
    background-image: url("img/Toronto1.jpg");
    background-position: center center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height:auto;
  }

/* Solutions Page */
.solutions{
  width: 75%;
  height: auto;
}

div.pic {
  margin: 5px;
  width: 75%;
  padding: 5px;
}

div.pic:hover {
  border: 5px solid rgb(1,42,74);
}

div.pic img {
  width: 100%;
  
}
 div.pic img:hover {
    transform: scaleX(+1);
  }
  div.pic img {
  border-radius: 5px;
}

/* nav bar */
body {
	padding: 0;
	margin: 0;
}

nav {
	position: fixed; 
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 100px;
	background-color: rgb(0,0,0);
}

nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #03fff6;
}

nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .links li {
	list-style: none;
}

nav .links a {
	display:block;
	padding: .5em; /*was 1em*/
	font-size: 16px;
	font-weight: bold;
	color: #03fff6;
	text-decoration: none;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

nav .icon-burger {
	position: absolute;
	display: none;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}


nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
  display: block;
}
	
@media screen and (max-width: 1200px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links{
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		transition: all .5s ease-in-out;
	}
	nav .links a{
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
}
/* DROPDOWN MENU */

.services {
position: relative;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li + li {
margin-top: 16px;
}

.dropdown-content li {
padding: 0.5em 1em;
width: 8em;
text-align: center;
}

.dropdown-content li:hover {
background-color: #000000;
}

.services:hover .dropdown-content {
display: block;
}

/*RESPONSIVE NAVBAR MENU*/

/* end of nav bar*/		

/*banner*/
.container {
	position: relative;
	margin-top: 100px;
}
.container img{
  display: block;
  width: 100%;
}
/* end of banner*/
